<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Here are some links to help you start: </h2>
<button (click)="recompute()">Re-Compute</button>
<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Fix status</th>
      <th>Level</th>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td></td>
      <td>{{item.manual}}</td>
      <td>{{item.level}}</td>
      <td>{{item.c1}}</td>
      <td>{{item.c2}}</td>
      <td>{{item.c3}}</td>
    </tr>
  </tbody>
</table>

<router-outlet></router-outlet>